<h1>Welcome to Test Manager!</h1>
<p>Projects On Going</p>
<ul>
  <li><%= link_to '[9/28/2012] Checkout: Landlord', @task %></li>
  <li><a href=".">[9/28/2012] Cart: Product Bundle - phase 1</a></li>
  <li><a href=".">[9/28/2012] Mobile: Landlord</a></li>
  <li><a href=".">see all 6 items...</a></li>
</ul>
<p>Projects To Come</p>
<ul>
  <li><a href=".">[10/4/2012] Checkout: AddOn - DE,FR</a></li>
  <li><a href=".">[10/11/2012] Cart: Product Bundle - phase 2</a></li>
  <li><a href=".">[10/19/2012] Mobile: Cart App Integration</a></li>
  <li><a href=".">see all 11 items...</a></li>
</ul>
<p>Projects Finished</p>
<ul>
  <li><a href=".">[9/21/2012] Checkout: 1-click escalation</a></li>
  <li><a href=".">[9/19/2012] Cart: Huc in light box - phase 1</a></li>
  <li><a href=".">[9/18/2012] Mobile: Preflight A</a></li>
  <li><a href=".">see all 32 items...</a></li>
</ul>

